{% set route = app.request.get('_route') %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Havelange 2018{% endblock %}</title>

        <!-- Bootstrap CSS -->
        {% stylesheets
            '@bootstrap_css'
            'bundles/appfront/css/offcanvas.css'
            'bundles/appfront/css/main.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen">
        {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <nav class="navbar navbar-fixed-top navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Havelange 2018</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ path('app_front_homepage') }}">Accueil</a></li>
                        <li><a href="{{ path('app_front_news') }}">News</a></li>
                        <li><a href="{{ path('app_front_candidates') }}">Les candidats</a></li>
                    </ul>
                </div><!-- /.nav-collapse -->
            </div><!-- /.container -->
        </nav><!-- /.navbar -->

        <div class="container">

            <div class="col-xs-12 col-sm-12">

                    {% block page_content %}
                    {% endblock %}

                </div><!--/.col-xs-12.col-sm-9-->
            <hr>

        </div><!--/.container-->

        {% block body %}
        {% endblock %}

        <footer class="footer">
            <div class="container">
                <p class="text-muted">© 2017 Vandendyck Christina.</p>
            </div>
        </footer>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        {% javascripts
            '@jquery'
            '@bootstrap_js'
            'bundles/appfront/js/offcanvas.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            <script>
                $("span.menu").click(function(){
                    $(" ul.navig").slideToggle("slow" , function(){
                    });
                });
            </script>

        {% endjavascripts %}

    </body>
</html>